

.wrapper{
    width: 1100px;
    margin: auto;
    font-family: roboto, sans-serif;
}
.header{
    height: 76px;
    background: #1c5bc3;
     padding: 0 20px 0 20px;
}
.contacts-block{
    float: right;
}
.contacts__phone{
    color: white;
    font: bold 21px roboto, sans-serif;
}
.clearfix{
    clear: both;
}
.contacts__schedule{
     color: white;
    font: bold 14px roboto, sans-serif;
    cursor: pointer;
    position: relative;
    text-align: right;
}
.logo, .contacts-block{
    padding-top: 18px;
}
/*---------^^^^^^-------шапка--------^^^^^--------*/
.nav-nemu{
    list-style: none;
    width: 180px;
    margin-left: -20px;
    float: left;
    padding-top: 16px;
}
.nav-menu__icon{
    float: left;
    width: 35px;
 	margin-top: 11px;
}
.without-color_nav_menu{
	color: #000;
}
.nav-menu__text{
	letter-spacing: 2.1px;
	text-transform: uppercase;
	line-height: 49px;
}

.nav-menu__link{
    text-decoration: none;
    font: bold 12px roboto,sans-serif;
}
.main-content{
    float: right;
    width: 900px;
}
.page-image{
    position: relative;
}
.page-image__text{
    font: bold 49px roboto;
    position: absolute;
    top: 148px;
    left: 64px;
}
.page-text__item{
	margin-top: -14px;
 }
 .page-text__paragraph{
 	margin-top: -6px;
 }
.page-text{
    width: 700px;
    padding-top: 5px;
    font:300 18px roboto;
    line-height: 30px;
}
.booking-tickets{
    background: #1d5bc3;
    width: 700px;
    color: white;
}
.boking__text{
	font: 300 18px roboto, sans-serif;
	line-height:30px;
	padding:16px 20px 7px 31px;
}
.boking__text__telephone,.boking__text a{
	font-weight: bold;
	color: white;
}
.partners__title{
    font: bold 49px roboto, sans-serif;
    padding-top: 21px;
}
.partners_list{
    list-style: none;
    padding: 0;
}
.partners__item{
    float: left;
    width: 293px;
    height: 130px;

}
.partners_image{
    filter: grayscale(100%);


}
.partners_image:hover{
    filter: none; 
}
.partners_image__first{padding-top: 13px;}
.partners_image__second{margin-left:-27px;}
.partners_image__third{margin-left: -33px;}
.partners_image__forth{margin:-7px 0 0 9px;}
.partners_image__fifth{margin:-6px 0 0 32px;}
.partners_image__sixth{margin:-3px 0 0 -6px;}
.footer{
    height: 77px;
    width: 1100px;
    background: #1d5bc3;
    position: relative;
}
.footer_text{
    width: 240px;
    float: left;
    font: 300 14px roboto;
    color: white;
    padding: 9px 10px 17px 20px;
    line-height: 18px
}
.footer_text a{
	color: white;
	font: 700 14px roboto;
}
.footer_social{
    float: right;
    color: white;
    font: 700 14px roboto, sans-serif;
    padding: 16px 20px;
}
.footer_logo{
    float: left;
    position: absolute;
    left: 489px;
    top: 18px;
}
.footer_text__author{
	font: 700 14px roboto;
}
.footer_social_icon{
	float: left;
}
.footer_social_icon img{
	padding-top: 5px;
	padding-left:5px;
}
.footer_social_icon a:first-child{
	padding-left: 4px;
}