body{
	font-family: roboto, sans-serif;
}
body, html{
	height: 100%;
}
.wrapper{
	min-width: 1100px;
    min-height: 100%;
    margin: 0 auto;
}
.container{
	width: 1060px;
    margin: 0 auto;
}
.wrapper:after{
	content: "";
	display: block;
	height: 77px;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
*{
	box-sizing: border-box;
}
ul, li {
	padding: 0;
	margin:0;
	list-style: none;
}
a{
	text-decoration: none;
}