.footer{

    height: 77px;
    padding-top: 15px;
    background: #1d5bc3;
    margin-top: -77px;
}
.footer__left{
    font: 300 14px roboto;
    color: white;
    line-height: 18px
}
.footer__left a{
	color: white;
	font: 700 14px roboto;
}
.footer_center{
    text-align: center;
}
.footer_center ,.footer__right, .footer__left{
    width: 33.33%;
    float: left;
}
.footer__right{
    color: white;
    font: 700 14px roboto, sans-serif;
    text-align: right;
}
.footer_text__author{font: 700 14px roboto;}
