.footer{
    min-width: 1100px;
    height: 77px;
    padding-top: 10px;
    background: #1d5bc3;
    margin-top: -77px;
}
.footer__logo-link{
    display: inline-block;
    margin-top: 5px;
}
.footer-left{
    font: 300 14px roboto;
    color: white;
    line-height: 18px;
}
.footer-social{
    display: inline-block;
}
.footer-left a{
	color: white;
	font: 700 14px roboto;
    text-decoration: underline;
}
.footer-center{
    text-align: center;
}
.footer-center , .footer-right, .footer-left{
    width: 33.33%;
    float: left;
}
.footer-right{
    margin-top: 5px;
    color: white;
    line-height: 54px;
    font: 700 14px roboto, sans-serif;
    text-align: right;
}
.footer__author{font: 700 14px roboto;}
.footer-social__link{
    margin-left: 6px;
    margin-top: 6px;
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url(../../image/icons/social.png) 0 0 no-repeat;


}
.footer-social{
   
    margin-right: 13px;
    
}
.footer-social__link:hover{
    opacity: .7;
}
.footer-social__link-vk{
    background-position: -9px -10px;
}
.footer-social__link-face{
    background-position: -50px -10px;
}
.footer-social__link-gmail{
    background-position: -90px -10px;
}
.footer-social__link-tweet{
    background-position: -130px -10px;
}
.footer-social__link-mail{
    background-position: -170px -10px;
}