.wrapper_welcome{
	background: url(../../image/bagraraund.jpg) center center  no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
	min-width: initial;
	text-align: center;
	position: relative;
}
/*.wrapper_welcome:before{
	content: "";
	display:inline-block;
	height: 100%;
	width:0;
	vertical-align: middle;
	text-align: center;
}*/
.welcome{
	width: 206px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	

}
.welcom__link{
	position: relative;
}
.welcome__btn{
	padding: 15px 20px;
	display: block;
	text-align: left;
	font-size: 12px;
	color:#1c5bc3 ;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #1c5bc3;
	border-radius: 3px;
	font-family: roboto, sans-serif;
	letter-spacing: 2.3px;
}
.welcom__pic{
	margin-bottom: 25px;
}
.welcome__btn:hover{
	color: #fff;
	background:#1c5bc3;
}
/*.btn__img{
	position: absolute;
	width: 20px;
	height: 20px;
	background:url(../../image/icons/plan.png) -8px -6px no-repeat;
	top: 10px;
	right:17px;

}*/
.welcome__btn:hover  .btn__img{
	background-position: -43px -6px;
}