.main-content{
    float:left;
    width: 880px;
  
}
.page-image__picture{
  max-width: 100%;
}
.page-text__item--disc{
  list-style: disc;
}
.page-image{position: relative;}
.page-image__text{
    font: bold 49px roboto;
    position: absolute;
    top: 148px;
    left: 64px;
}
.page-text--bold{
  font-weight: bold;
  display: inline-block;
}
.page-text__item{
  margin: -12px 0 -3px 0;
  padding-left: 40px;
  line-height: 31px;
}
.page-text__item-disck{
  list-style: disc;
}
.page-text, .partnerrs{
   padding-right: 20%;
}
.page-text__paragraph{margin-top: -6px;}
.page-text{
    font:300 18px roboto;
    line-height: 30px;
}
.booking-tickets{
    background: #1d5bc3;
    width: 700px;
    color: white;
}
.boking-tickets__text{
	font: 300 18px roboto, sans-serif;
	line-height:30px;
	padding:12px 20px 12px 31px;
}
.boking-tickets__telephone,.boking-tickets__text a{
	font-weight: bold;
	color: white;
}
.boking-tickets__text a{
  text-decoration: underline;
}
.partners-item__image{
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.partners-item{

    float: left;
    margin-right: 20px;
    width: 212px;
    margin-bottom: 50px;
    height: 75px;
  }
.partners-item__link{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.partners-title{
    font: bold 49px roboto, sans-serif;
    padding-top: 21px;
}
.partners-item{ display: inline-block;}
.partners-item__image{filter: grayscale(100%);}
.partners-item__image:hover{filter: none; }
.partners-item__image_first{margin-top: -15px;}
.partners-item__image_middle{/*margin:-14px 0 0 37px;*/ left: 50%;
    transform: translate(-50%, -50%);}
.partners-item__image_right{/*margin:-15px 0 0 91px;*/ right: 0;}
.partners-item__image_forth{margin:-7px 0 0 9px;}
.partners-item__image_middle{/*margin:-6px 0 0 32px;*/ left: 50%;
    transform: translate(-50%, -50%);}
.partners-item__image_right{/*margin:-3px 0 0 -6px;*/right: 41px;}

/*-------------отзывы-----------------------------*/
.breadcrumbs {
  margin-bottom: 10px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__link {
  font-size: 14px;
  color: #718fd3;
  font-style: italic;
  text-decoration: underline;
}

.breadcrumbs__item_active .breadcrumbs__link {
  text-decoration: none;
  color: #221f1f;
} 

.breadcrumbs__item_active:after {
  display: none;
}
.main-content__nav{
    margin-top: 39px;
}
.main-comments, .nav-nemu_link{
    padding: 0; 
}
.main-comments{
    margin-top: 36px;
}

.main-comments__item{
    padding-bottom: 19px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f5f5f5;
}
.main-comments__item:first-child{
  padding-top: 0;
}
.main-comments__item:last-child{
  border-bottom: none;
}
.content-comments{
    font:700 49px roboto, sans-serif;
    margin-top: 15px;
}
.main-comments__date{
    font:300 14px roboto, sans-serif;
    color: #656464;
    line-height: 21px;
}
.main-comments__name{
    font:700 18px roboto, sans-serif;
    line-height: 21px;
}
.main-content__description{
    font:300 18px roboto,sans-serif;
    color: #221f1f;
    line-height: 30px;
    padding-right: 5px;
}
.main-coments__picture{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: inline-block;
}
.main-momments__text{
 overflow: hidden;
 padding-left: 20px;
 display: inline-block;
 width: 700px;
 vertical-align: top;
}
.main-comments__count{
   
        margin: 0 0 20px 150px;
}
.main-comments__sheets{
    float: left;
    padding: 8px
}
.main-comments__sheets-static{
  font:14px roboto;
  color: #656464;
}
.pagination {
  text-align: center;
  margin-bottom: 70px;
}

.pagination__status {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #656464;
  margin-right: 17px;
}

.pagination__controls {
  display: inline-block;
  vertical-align: middle;
}

.pagination__arrow {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #bebdbd;
}

.pagination__arrow:hover {
  color: #221f1f;
}

.pagination__arrow_prev {
  margin-right: 7px;
}

.pagination__arrow_next {
  margin-left: 7px;
}

.pagination__link {
  text-decoration: none;
  color: #221f1f;
  font-weight: bold;
  width: 22px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  display: block;
  border-radius: 3px;
  font-size: 14px;
}


.pagination__item_active .pagination__link, 
.pagination__link:hover {
  background: #1c5bc3;
  color: #fff;
}

.pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}
/*--------------form-----------------*/
.form {
    width: 700px;
    background: #f5f5f5;
    border-radius: 3px;
}

.form_padding {
    padding: 43px 68px 49px;
    margin-bottom: 71px;
}

.form__index-name {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 15px;
}

.form__row {
    width: 100%;
    margin-bottom: 13px;
}

.form__label-input {
    float: left;
}

.form__label-input:first-child {
    margin-right: 23px;
}

.fotrm__title {
    margin-bottom: 8px;
}

.form__input {
    width: 269px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: .5px;
}

.form__input_position {
    margin-top: 8px;
}

.form__label-textarea {
    display: inline-block;
    padding-top: 4px;
}

.form__comment {
    width: 561px;
    height: 90px;
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    border: 1px solid transparent;
    padding: 5px 10px;
}

.form__input:focus, .form__comment:focus {
    border-color: #1c5bc3;
    outline: none;
}

.button__left{
    float: left;
    width: 50%;
}
.button__right{
    float: right;
    width: 50%;
    text-align: right;
    padding-top: 3px;
    padding-right: 2px;
}

.button__left-title {
    margin-bottom: 9px;
}

.form__radio{
    padding-left: 2px;
}

.form__radio-btn {
    display: none;
}

.form__radio_fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
    border: 1px solid #c9c9c9;
    position: relative;
    vertical-align: bottom;

}

.form__radio-btn:checked + .form__radio_fake {
    border-color: #1c5bc3 ;
}

.form__radio-btn:checked + .form__radio_fake:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #1c5bc3;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.form__radio-btn:checked + .form__radio_fake + .form__radio-title{
    color: #1c5bc3 ;
}
.form__radio-title {
    display: inline-block;
    vertical-align: 2px;
    padding-left: 1px;
    margin-right: 16px;
}

.form__btn {
    width: 154px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #1C5BC3;
    position: relative;
    font-size: 0;
    color: #ffffff;
}

.btn__text {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    display: inline-block;
}


.btn__img_position {
    margin-left: 10px;
}

.btn__img {
    display: inline-block;
    width: 15px;
    height: 14px;
    background-image: url(../../image/icons/main_icon.png);
    background-size: cover;
}

.form__btn:hover {
    background-color: #ffffff;
    color: #1C5BC3;
    cursor: pointer;
}

.form__btn:hover .btn__img {
    background-image: url("../../image/icons/Vector Smart Object.png");
}
