.sidebar{
    width: 180px;
    padding: 29px 0 10px 0px;
    float: left;
}
.nav-menu__item{
   
}
nav-nemu{
    list-style: none;
    padding-top: 16px;
}
.nav-menu__icon{
   float: left;
   margin-top: 13px;

}.nav-menu__icon{
   width: 35px;
}
.nav-menu__link{
    display: inline-block;
}
.nav-menu__text{
    display: inline-block;
    font:700 12px roboto,sans-serif;
}

.without-color_nav_menu{color: #000;}
.nav-menu__text{
	letter-spacing: 2.1px;
	text-transform: uppercase;
	line-height: 49px;
    max-width: 164px;
}
/*.nav-menu__link{
    text-decoration: none;
    font: bold 12px roboto,sans-serif;
}*/