.crew-item{
	width: 249px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-bottom: 44px;
    margin-right: 38px;

}
.block-crew{
	padding-left: 11px;
    padding-top: 5px;
    line-height: 21px;
    margin-bottom: 20px;
}
.crew-item__picture{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	display: inline-block;
}
.crew-item__picture--pick1{
	background-image: url("../../image/team/AviationCV.com_Pilot.jpg");
	background-position:-48px -16px;
	background-repeat: no-repeat;

}
.crew-item__picture--pick2{background-image: url(../../image/team/vred-raboty-stuardessy.jpg);
	background-position: -129px -18px;
	background-repeat: no-repeat;
}
.crew-item__picture--pick3{background-image: url(../../image/team/main.jpg);
	background-repeat: no-repeat;
	background-position: -197px -144px;
}
.crew-item__picture--pick4{background-image: url(../../image/team/shutterstock_362394002.jpg) ;}
.crew-item__picture--pick5{background-image: url(../../image/team/vred-raboty-stuardessy.jpg);
background-position: -296px -26px;
	background-repeat: no-repeat;
}
.crew-item__picture--pick6{background-image: url(../../image/team/second-pilot.jpg);
	background-position: -172px -3px;
	background-repeat: no-repeat;
	}
.crew-item__staff{
	font:700 18px roboto,sans-serif;
	text-align: center;	
	padding-top: 23px;
}

.crew-item__work{
	color: #1c5bc3;
	font: 700 14px roboto, sans-serif;
	text-align: center;	
	padding-top: 5px;
}
.crew-item__discription{
	color: #221f1f;
	font: 300 14px roboto, sans-serif;
	line-height:21px;
	text-align: center;
	padding-top: 6px;	
}